# Домашнє завдання до теми "Основи роботи з даними у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

1. За допомогою бібліотеки Pandas виведіть перші 4 і останні 4 записи у наборі даних (це дві окремі команди). Треба саме 4! Не 5.

In [12]:
DATA_DIR = '../../data/supermarket_sales.csv'
df = pd.read_csv(DATA_DIR)
display(df.head(4))
display(df.head(4))

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1F5XlzBOOTMsedpsYqz6NnXjIPTDe6jpx)

2. Виведіть рядки даних з індексами з 615 по 619 включно.

In [14]:
df[615:620]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
615,509-29-3912,A,Yangon,Member,Female,Sports and travel,38.72,9,17.4240,365.9040,3/20/2019,12:24,Ewallet,348.48,4.761905,17.4240,4.2
616,327-40-9673,B,Mandalay,Member,Male,Sports and travel,72.60,6,21.7800,457.3800,1/13/2019,19:51,Cash,435.60,4.761905,21.7800,6.9
617,840-19-2096,C,Naypyitaw,Member,Male,Electronic accessories,87.91,5,21.9775,461.5275,3/14/2019,18:10,Ewallet,439.55,4.761905,21.9775,4.4
618,828-46-6863,A,Yangon,Member,Male,Food and beverages,98.53,6,29.5590,620.7390,1/23/2019,11:22,Credit card,591.18,4.761905,29.5590,4.0
619,641-96-3695,C,Naypyitaw,Member,Female,Fashion accessories,43.46,6,13.0380,273.7980,2/7/2019,17:55,Ewallet,260.76,4.761905,13.0380,8.5

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1Otufe_TXRmjZxWigzBiVBLCAVUfEReXM)

3. Виведіть назви колонок у наборі даних разом з їхніми типами. Це можна зробити кількома способами, важливо аби в результаті були назви колонок і відповідні їм типи.

In [17]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

Очікуваний результат (один з можливих форматів):

![](https://drive.google.com/uc?export=view&id=1ASh6-S-_f3X9fTQAPIvnHMFZamTBjNkL)

4. Користуючись методом `DataFrame.describe()` виявіть 1, 25, 50, 75 і 99 персентилі колонки `gross income`. Знайдіть, яке значення відповідає 75отму персентилю цієї колонки і що це означає? Як би Ви його пояснили простими словами колегам? Відповідь напишіть текстом в окремій клітинці типу Markdown.

In [21]:
df['gross income'].describe(percentiles=[0.01,0.25,0.5,0.75,0.99])

count    1000.000000
mean       15.379369
std        11.708825
min         0.508500
1%          0.913735
25%         5.924875
50%        12.088000
75%        22.445250
99%        45.250750
max        49.650000
Name: gross income, dtype: float64

я б сказав що 1/4 даних або 25% мають більше ніж 22,4 одиниці приходу

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1bDa1YFUWDsPm78Lnpy2geQND8M1HEQiT)

5. Виведіть кількість інвойсів за кожним унікальним містом в наборі даних.

  Підказка: інвойс - це один рядок в цьому наборі даних, ми можемо цим скористатись аби швидко отримати відповідь.

In [24]:
invoice_count= df['City'].value_counts()
print(invoice_count)

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1G8c6M875NOW7oU3OtZegTOnyD2y8lhAV)

6. Виведіть, який відсоток інвойсів припадає на кожне унікальне місто.

In [25]:
invoice_count_perc= df['City'].value_counts(normalize=True)
print(invoice_count_perc)

Yangon       0.340
Mandalay     0.332
Naypyitaw    0.328
Name: City, dtype: float64

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1yZZpWhL2y8DX9rSRioYCRh1VbJgcf3fY)

7.1. Використовуючи фільтрацію даних, знайдіть середнє значення `gross income` для міст `Yangon` та `Mandalay`. В якому місті воно більше?

7.2 Сформулюйте 3 гіпотези, чому в одному місті gross income вище, як можна дізнатись чи правдива ця гіпотеза з використанням даних (наявних і додаткових), та як висновки з цих гіпотез можна використати для прийняття рішень як підвищити прибуток в мережі супермаркетів. Відповідь напишіть текстом в окремій клітинці типу Markdown.

Це завдання - на продуктове мислення. Якщо не знаєте, які гіпотези сформулювати - напишіть ті, які здаються вам зовсім примітивними. Важливо навчитись висловлювати свої гіпотези щодо даних, і з часом та досвідом вони будуть ставати щоразу глибше і точніше. Весь аналіз даних будується на тому, що ми перевіряємо певні гіпотези та робимо висновки і рекоемндації на основі своїх досліджень.

In [36]:
Yangon_city= df['City'] == 'Yangon'
Mandalay_city = df['City'] == 'Mandalay'
yangon_income = df[Yangon_city]['gross income'].mean()
mandalay_income = df[Mandalay_city]['gross income'].mean()
print(f"Середній gross income у Yangon: {yangon_income:.2f}")
print(f"Середній gross income у Mandalay: {mandalay_income:.2f}")

Середній gross income у Yangon: 14.87
Середній gross income у Mandalay: 15.23

In [43]:
yan_member_counts = df[(Yangon_city) & (df['Customer type'] == 'Member')].shape[0]
man_member_counts = df[(Mandalay_city) & (df['Customer type'] == 'Member')].shape[0]
yan_rat_avg = df[Yangon_city]['Rating'].mean()
man_rat_avg = df[Mandalay_city]['Rating'].mean()

print(f"Кількість Member-клієнтів у Yangon: {yan_member_counts}")
print(f"Кількість Member-клієнтів у Mandalay: {man_member_counts}")
print(f"Середній рейтинг у Yangon: {yan_rat_avg:.2f}")
print(f"Середній рейтинг у Mandalay: {man_rat_avg:.2f}")

Кількість Member-клієнтів у Yangon: 167
Кількість Member-клієнтів у Mandalay: 165
Середній рейтинг у Yangon: 7.03
Середній рейтинг у Mandalay: 6.82

1гіпотеза персонал гірше працює у одному з міст. Перевірити відгуки клієнтів та оцінку, провести соцопитування чи задоволені роботою покупці.
2гіпотеза в одному з міст є конкуренційні магазини. Перевірити чи впливають вони на прибутковість. 
3гіпотеза для преміум покупців кращі умови та знижки. Перевірити кількість преміумів та як вони впливають на середній чек

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1JdXUmK46WcoXUJYP7NS2SJlr2XjBbpQ8)

8. Для продовження дослідження різниці у прибутках в магазинах давайте зʼясуємо, чи відрізняється маржа ('gross margin percentage') для різних інвойсів в магазині? Перевірте це програмно на даних виходячи з того функціоналу, який ми вже пройшли у лекціях.

Дайте на основі отриманого результату відповідь: "У всіх всіх інвойсах однакова маржа" або "Маржа відрізняється для різних інвойсів".

In [47]:
unique_margin_values = df['gross margin percentage'].nunique()
print(f"Кількість унікальних значень маржі: {unique_margin_values}")
if unique_margin_values == 1:
    print("У всіх інвойсах однакова маржа.")
else:
    print("Маржа відрізняється для різних інвойсів.")

Кількість унікальних значень маржі: 1
У всіх інвойсах однакова маржа.

Очікуваний результат: відповідь щодо маржі в усіх інвойсах на основі отриманих результатів

9. Врахуовуючи висновок в попередньому завданні, дослідимо як продаються в цих містах різні категорії товарів. Виведіть відсотковий розпоіділ кількості інвойсів по категоріям товарів `Product line` в містах `Yangon` та `Mandalay`.

In [50]:
yangon_distribution = df[Yangon_city]['Product line'].value_counts(normalize=True) * 100
mangalay_distribution = df[Mandalay_city]['Product line'].value_counts(normalize=True) * 100

print("📍 Відсотковий розподіл по категоріях у Yangon:")
print(yangon_distribution.round(2))

print("\n📍 Відсотковий розподіл по категоріях у Mandalay:")
print(mangalay_distribution.round(2))

📍 Відсотковий розподіл по категоріях у Yangon:
Home and lifestyle        19.12
Electronic accessories    17.65
Sports and travel         17.35
Food and beverages        17.06
Fashion accessories       15.00
Health and beauty         13.82
Name: Product line, dtype: float64

📍 Відсотковий розподіл по категоріях у Mandalay:
Fashion accessories       18.67
Sports and travel         18.67
Electronic accessories    16.57
Health and beauty         15.96
Food and beverages        15.06
Home and lifestyle        15.06
Name: Product line, dtype: float64

Очікуваний результат для кожного з міст:

![](https://drive.google.com/uc?export=view&id=1IbG58YK5KVqC-wCnllF1btgEgfWTbi_O)

![](https://drive.google.com/uc?export=view&id=1aKOkLmlMq1sOh4GbwyaQyjfhNJzdU4Yh)