# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º–∏ "–û—Å–Ω–æ–≤–∏ —Ä–æ–±–æ—Ç–∏ –∑ –¥–∞–Ω–∏–º–∏ —É Pandas"

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

1. –ó–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏ Pandas –≤–∏–≤–µ–¥—ñ—Ç—å –ø–µ—Ä—à—ñ 4 —ñ –æ—Å—Ç–∞–Ω–Ω—ñ 4 –∑–∞–ø–∏—Å–∏ —É –Ω–∞–±–æ—Ä—ñ –¥–∞–Ω–∏—Ö (—Ü–µ –¥–≤—ñ –æ–∫—Ä–µ–º—ñ –∫–æ–º–∞–Ω–¥–∏). –¢—Ä–µ–±–∞ —Å–∞–º–µ 4! –ù–µ 5.

In [12]:
DATA_DIR = '../../data/supermarket_sales.csv'
df = pd.read_csv(DATA_DIR)
display(df.head(4))
display(df.head(4))

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1F5XlzBOOTMsedpsYqz6NnXjIPTDe6jpx)

2. –í–∏–≤–µ–¥—ñ—Ç—å —Ä—è–¥–∫–∏ –¥–∞–Ω–∏—Ö –∑ —ñ–Ω–¥–µ–∫—Å–∞–º–∏ –∑ 615 –ø–æ 619 –≤–∫–ª—é—á–Ω–æ.

In [14]:
df[615:620]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
615,509-29-3912,A,Yangon,Member,Female,Sports and travel,38.72,9,17.4240,365.9040,3/20/2019,12:24,Ewallet,348.48,4.761905,17.4240,4.2
616,327-40-9673,B,Mandalay,Member,Male,Sports and travel,72.60,6,21.7800,457.3800,1/13/2019,19:51,Cash,435.60,4.761905,21.7800,6.9
617,840-19-2096,C,Naypyitaw,Member,Male,Electronic accessories,87.91,5,21.9775,461.5275,3/14/2019,18:10,Ewallet,439.55,4.761905,21.9775,4.4
618,828-46-6863,A,Yangon,Member,Male,Food and beverages,98.53,6,29.5590,620.7390,1/23/2019,11:22,Credit card,591.18,4.761905,29.5590,4.0
619,641-96-3695,C,Naypyitaw,Member,Female,Fashion accessories,43.46,6,13.0380,273.7980,2/7/2019,17:55,Ewallet,260.76,4.761905,13.0380,8.5

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1Otufe_TXRmjZxWigzBiVBLCAVUfEReXM)

3. –í–∏–≤–µ–¥—ñ—Ç—å –Ω–∞–∑–≤–∏ –∫–æ–ª–æ–Ω–æ–∫ —É –Ω–∞–±–æ—Ä—ñ –¥–∞–Ω–∏—Ö —Ä–∞–∑–æ–º –∑ —ó—Ö–Ω—ñ–º–∏ —Ç–∏–ø–∞–º–∏. –¶–µ –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ –∫—ñ–ª—å–∫–æ–º–∞ —Å–ø–æ—Å–æ–±–∞–º–∏, –≤–∞–∂–ª–∏–≤–æ –∞–±–∏ –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ –±—É–ª–∏ –Ω–∞–∑–≤–∏ –∫–æ–ª–æ–Ω–æ–∫ —ñ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω—ñ —ó–º —Ç–∏–ø–∏.

In [17]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç (–æ–¥–∏–Ω –∑ –º–æ–∂–ª–∏–≤–∏—Ö —Ñ–æ—Ä–º–∞—Ç—ñ–≤):

![](https://drive.google.com/uc?export=view&id=1ASh6-S-_f3X9fTQAPIvnHMFZamTBjNkL)

4. –ö–æ—Ä–∏—Å—Ç—É—é—á–∏—Å—å –º–µ—Ç–æ–¥–æ–º `DataFrame.describe()` –≤–∏—è–≤—ñ—Ç—å 1, 25, 50, 75 —ñ 99 –ø–µ—Ä—Å–µ–Ω—Ç–∏–ª—ñ –∫–æ–ª–æ–Ω–∫–∏ `gross income`. –ó–Ω–∞–π–¥—ñ—Ç—å, —è–∫–µ –∑–Ω–∞—á–µ–Ω–Ω—è –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—î 75–æ—Ç–º—É –ø–µ—Ä—Å–µ–Ω—Ç–∏–ª—é —Ü—ñ—î—ó –∫–æ–ª–æ–Ω–∫–∏ —ñ —â–æ —Ü–µ –æ–∑–Ω–∞—á–∞—î? –Ø–∫ –±–∏ –í–∏ –π–æ–≥–æ –ø–æ—è—Å–Ω–∏–ª–∏ –ø—Ä–æ—Å—Ç–∏–º–∏ —Å–ª–æ–≤–∞–º–∏ –∫–æ–ª–µ–≥–∞–º? –í—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞–ø–∏—à—ñ—Ç—å —Ç–µ–∫—Å—Ç–æ–º –≤ –æ–∫—Ä–µ–º—ñ–π –∫–ª—ñ—Ç–∏–Ω—Ü—ñ —Ç–∏–ø—É Markdown.

In [21]:
df['gross income'].describe(percentiles=[0.01,0.25,0.5,0.75,0.99])

count    1000.000000
mean       15.379369
std        11.708825
min         0.508500
1%          0.913735
25%         5.924875
50%        12.088000
75%        22.445250
99%        45.250750
max        49.650000
Name: gross income, dtype: float64

—è –± —Å–∫–∞–∑–∞–≤ —â–æ 1/4 –¥–∞–Ω–∏—Ö –∞–±–æ 25% –º–∞—é—Ç—å –±—ñ–ª—å—à–µ –Ω—ñ–∂ 22,4 –æ–¥–∏–Ω–∏—Ü—ñ –ø—Ä–∏—Ö–æ–¥—É

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1bDa1YFUWDsPm78Lnpy2geQND8M1HEQiT)

5. –í–∏–≤–µ–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤ –∑–∞ –∫–æ–∂–Ω–∏–º —É–Ω—ñ–∫–∞–ª—å–Ω–∏–º –º—ñ—Å—Ç–æ–º –≤ –Ω–∞–±–æ—Ä—ñ –¥–∞–Ω–∏—Ö.

  –ü—ñ–¥–∫–∞–∑–∫–∞: —ñ–Ω–≤–æ–π—Å - —Ü–µ –æ–¥–∏–Ω —Ä—è–¥–æ–∫ –≤ —Ü—å–æ–º—É –Ω–∞–±–æ—Ä—ñ –¥–∞–Ω–∏—Ö, –º–∏ –º–æ–∂–µ–º–æ —Ü–∏–º —Å–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏—Å—å –∞–±–∏ —à–≤–∏–¥–∫–æ –æ—Ç—Ä–∏–º–∞—Ç–∏ –≤—ñ–¥–ø–æ–≤—ñ–¥—å.

In [24]:
invoice_count= df['City'].value_counts()
print(invoice_count)

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1G8c6M875NOW7oU3OtZegTOnyD2y8lhAV)

6. –í–∏–≤–µ–¥—ñ—Ç—å, —è–∫–∏–π –≤—ñ–¥—Å–æ—Ç–æ–∫ —ñ–Ω–≤–æ–π—Å—ñ–≤ –ø—Ä–∏–ø–∞–¥–∞—î –Ω–∞ –∫–æ–∂–Ω–µ —É–Ω—ñ–∫–∞–ª—å–Ω–µ –º—ñ—Å—Ç–æ.

In [25]:
invoice_count_perc= df['City'].value_counts(normalize=True)
print(invoice_count_perc)

Yangon       0.340
Mandalay     0.332
Naypyitaw    0.328
Name: City, dtype: float64

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1yZZpWhL2y8DX9rSRioYCRh1VbJgcf3fY)

7.1. –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ —Ñ—ñ–ª—å—Ç—Ä–∞—Ü—ñ—é –¥–∞–Ω–∏—Ö, –∑–Ω–∞–π–¥—ñ—Ç—å —Å–µ—Ä–µ–¥–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è `gross income` –¥–ª—è –º—ñ—Å—Ç `Yangon` —Ç–∞ `Mandalay`. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –≤–æ–Ω–æ –±—ñ–ª—å—à–µ?

7.2 –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ 3 –≥—ñ–ø–æ—Ç–µ–∑–∏, —á–æ–º—É –≤ –æ–¥–Ω–æ–º—É –º—ñ—Å—Ç—ñ gross income –≤–∏—â–µ, —è–∫ –º–æ–∂–Ω–∞ –¥—ñ–∑–Ω–∞—Ç–∏—Å—å —á–∏ –ø—Ä–∞–≤–¥–∏–≤–∞ —Ü—è –≥—ñ–ø–æ—Ç–µ–∑–∞ –∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º –¥–∞–Ω–∏—Ö (–Ω–∞—è–≤–Ω–∏—Ö —ñ –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö), —Ç–∞ —è–∫ –≤–∏—Å–Ω–æ–≤–∫–∏ –∑ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ –º–æ–∂–Ω–∞ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è —Ä—ñ—à–µ–Ω—å —è–∫ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –ø—Ä–∏–±—É—Ç–æ–∫ –≤ –º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤. –í—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞–ø–∏—à—ñ—Ç—å —Ç–µ–∫—Å—Ç–æ–º –≤ –æ–∫—Ä–µ–º—ñ–π –∫–ª—ñ—Ç–∏–Ω—Ü—ñ —Ç–∏–ø—É Markdown.

–¶–µ –∑–∞–≤–¥–∞–Ω–Ω—è - –Ω–∞ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–µ –º–∏—Å–ª–µ–Ω–Ω—è. –Ø–∫—â–æ –Ω–µ –∑–Ω–∞—î—Ç–µ, —è–∫—ñ –≥—ñ–ø–æ—Ç–µ–∑–∏ —Å—Ñ–æ—Ä–º—É–ª—é–≤–∞—Ç–∏ - –Ω–∞–ø–∏—à—ñ—Ç—å —Ç—ñ, —è–∫—ñ –∑–¥–∞—é—Ç—å—Å—è –≤–∞–º –∑–æ–≤—Å—ñ–º –ø—Ä–∏–º—ñ—Ç–∏–≤–Ω–∏–º–∏. –í–∞–∂–ª–∏–≤–æ –Ω–∞–≤—á–∏—Ç–∏—Å—å –≤–∏—Å–ª–æ–≤–ª—é–≤–∞—Ç–∏ —Å–≤–æ—ó –≥—ñ–ø–æ—Ç–µ–∑–∏ —â–æ–¥–æ –¥–∞–Ω–∏—Ö, —ñ –∑ —á–∞—Å–æ–º —Ç–∞ –¥–æ—Å–≤—ñ–¥–æ–º –≤–æ–Ω–∏ –±—É–¥—É—Ç—å —Å—Ç–∞–≤–∞—Ç–∏ —â–æ—Ä–∞–∑—É –≥–ª–∏–±—à–µ —ñ —Ç–æ—á–Ω—ñ—à–µ. –í–µ—Å—å –∞–Ω–∞–ª—ñ–∑ –¥–∞–Ω–∏—Ö –±—É–¥—É—î—Ç—å—Å—è –Ω–∞ —Ç–æ–º—É, —â–æ –º–∏ –ø–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ –ø–µ–≤–Ω—ñ –≥—ñ–ø–æ—Ç–µ–∑–∏ —Ç–∞ —Ä–æ–±–∏–º–æ –≤–∏—Å–Ω–æ–≤–∫–∏ —ñ —Ä–µ–∫–æ–µ–º–Ω–¥–∞—Ü—ñ—ó –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Å–≤–æ—ó—Ö –¥–æ—Å–ª—ñ–¥–∂–µ–Ω—å.

In [36]:
Yangon_city= df['City'] == 'Yangon'
Mandalay_city = df['City'] == 'Mandalay'
yangon_income = df[Yangon_city]['gross income'].mean()
mandalay_income = df[Mandalay_city]['gross income'].mean()
print(f"–°–µ—Ä–µ–¥–Ω—ñ–π gross income —É Yangon: {yangon_income:.2f}")
print(f"–°–µ—Ä–µ–¥–Ω—ñ–π gross income —É Mandalay: {mandalay_income:.2f}")

–°–µ—Ä–µ–¥–Ω—ñ–π gross income —É Yangon: 14.87
–°–µ—Ä–µ–¥–Ω—ñ–π gross income —É Mandalay: 15.23

In [43]:
yan_member_counts = df[(Yangon_city) & (df['Customer type'] == 'Member')].shape[0]
man_member_counts = df[(Mandalay_city) & (df['Customer type'] == 'Member')].shape[0]
yan_rat_avg = df[Yangon_city]['Rating'].mean()
man_rat_avg = df[Mandalay_city]['Rating'].mean()

print(f"–ö—ñ–ª—å–∫—ñ—Å—Ç—å Member-–∫–ª—ñ—î–Ω—Ç—ñ–≤ —É Yangon: {yan_member_counts}")
print(f"–ö—ñ–ª—å–∫—ñ—Å—Ç—å Member-–∫–ª—ñ—î–Ω—Ç—ñ–≤ —É Mandalay: {man_member_counts}")
print(f"–°–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ —É Yangon: {yan_rat_avg:.2f}")
print(f"–°–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ —É Mandalay: {man_rat_avg:.2f}")

–ö—ñ–ª—å–∫—ñ—Å—Ç—å Member-–∫–ª—ñ—î–Ω—Ç—ñ–≤ —É Yangon: 167
–ö—ñ–ª—å–∫—ñ—Å—Ç—å Member-–∫–ª—ñ—î–Ω—Ç—ñ–≤ —É Mandalay: 165
–°–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ —É Yangon: 7.03
–°–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ —É Mandalay: 6.82

1–≥—ñ–ø–æ—Ç–µ–∑–∞ –ø–µ—Ä—Å–æ–Ω–∞–ª –≥—ñ—Ä—à–µ –ø—Ä–∞—Ü—é—î —É –æ–¥–Ω–æ–º—É –∑ –º—ñ—Å—Ç. –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ –≤—ñ–¥–≥—É–∫–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–∞ –æ—Ü—ñ–Ω–∫—É, –ø—Ä–æ–≤–µ—Å—Ç–∏ —Å–æ—Ü–æ–ø–∏—Ç—É–≤–∞–Ω–Ω—è —á–∏ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ —Ä–æ–±–æ—Ç–æ—é –ø–æ–∫—É–ø—Ü—ñ.
2–≥—ñ–ø–æ—Ç–µ–∑–∞ –≤ –æ–¥–Ω–æ–º—É –∑ –º—ñ—Å—Ç —î –∫–æ–Ω–∫—É—Ä–µ–Ω—Ü—ñ–π–Ω—ñ –º–∞–≥–∞–∑–∏–Ω–∏. –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —á–∏ –≤–ø–ª–∏–≤–∞—é—Ç—å –≤–æ–Ω–∏ –Ω–∞ –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—Å—Ç—å. 
3–≥—ñ–ø–æ—Ç–µ–∑–∞ –¥–ª—è –ø—Ä–µ–º—ñ—É–º –ø–æ–∫—É–ø—Ü—ñ–≤ –∫—Ä–∞—â—ñ —É–º–æ–≤–∏ —Ç–∞ –∑–Ω–∏–∂–∫–∏. –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–µ–º—ñ—É–º—ñ–≤ —Ç–∞ —è–∫ –≤–æ–Ω–∏ –≤–ø–ª–∏–≤–∞—é—Ç—å –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1JdXUmK46WcoXUJYP7NS2SJlr2XjBbpQ8)

8. –î–ª—è –ø—Ä–æ–¥–æ–≤–∂–µ–Ω–Ω—è –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—è —Ä—ñ–∑–Ω–∏—Ü—ñ —É –ø—Ä–∏–±—É—Ç–∫–∞—Ö –≤ –º–∞–≥–∞–∑–∏–Ω–∞—Ö –¥–∞–≤–∞–π—Ç–µ –∑ º—è—Å—É—î–º–æ, —á–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –º–∞—Ä–∂–∞ ('gross margin percentage') –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö —ñ–Ω–≤–æ–π—Å—ñ–≤ –≤ –º–∞–≥–∞–∑–∏–Ω—ñ? –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ —Ü–µ –ø—Ä–æ–≥—Ä–∞–º–Ω–æ –Ω–∞ –¥–∞–Ω–∏—Ö –≤–∏—Ö–æ–¥—è—á–∏ –∑ —Ç–æ–≥–æ —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É, —è–∫–∏–π –º–∏ –≤–∂–µ –ø—Ä–æ–π—à–ª–∏ —É –ª–µ–∫—Ü—ñ—è—Ö.

–î–∞–π—Ç–µ –Ω–∞ –æ—Å–Ω–æ–≤—ñ –æ—Ç—Ä–∏–º–∞–Ω–æ–≥–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É –≤—ñ–¥–ø–æ–≤—ñ–¥—å: "–£ –≤—Å—ñ—Ö –≤—Å—ñ—Ö —ñ–Ω–≤–æ–π—Å–∞—Ö –æ–¥–Ω–∞–∫–æ–≤–∞ –º–∞—Ä–∂–∞" –∞–±–æ "–ú–∞—Ä–∂–∞ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö —ñ–Ω–≤–æ–π—Å—ñ–≤".

In [47]:
unique_margin_values = df['gross margin percentage'].nunique()
print(f"–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å –º–∞—Ä–∂—ñ: {unique_margin_values}")
if unique_margin_values == 1:
    print("–£ –≤—Å—ñ—Ö —ñ–Ω–≤–æ–π—Å–∞—Ö –æ–¥–Ω–∞–∫–æ–≤–∞ –º–∞—Ä–∂–∞.")
else:
    print("–ú–∞—Ä–∂–∞ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö —ñ–Ω–≤–æ–π—Å—ñ–≤.")

–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å –º–∞—Ä–∂—ñ: 1
–£ –≤—Å—ñ—Ö —ñ–Ω–≤–æ–π—Å–∞—Ö –æ–¥–Ω–∞–∫–æ–≤–∞ –º–∞—Ä–∂–∞.

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç: –≤—ñ–¥–ø–æ–≤—ñ–¥—å —â–æ–¥–æ –º–∞—Ä–∂—ñ –≤ —É—Å—ñ—Ö —ñ–Ω–≤–æ–π—Å–∞—Ö –Ω–∞ –æ—Å–Ω–æ–≤—ñ –æ—Ç—Ä–∏–º–∞–Ω–∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤

9. –í—Ä–∞—Ö—É–æ–≤—É—é—á–∏ –≤–∏—Å–Ω–æ–≤–æ–∫ –≤ –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ, –¥–æ—Å–ª—ñ–¥–∏–º–æ —è–∫ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è –≤ —Ü–∏—Ö –º—ñ—Å—Ç–∞—Ö —Ä—ñ–∑–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤. –í–∏–≤–µ–¥—ñ—Ç—å –≤—ñ–¥—Å–æ—Ç–∫–æ–≤–∏–π —Ä–æ–∑–ø–æ—ñ–¥—ñ–ª –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —ñ–Ω–≤–æ–π—Å—ñ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º —Ç–æ–≤–∞—Ä—ñ–≤ `Product line` –≤ –º—ñ—Å—Ç–∞—Ö `Yangon` —Ç–∞ `Mandalay`.

In [50]:
yangon_distribution = df[Yangon_city]['Product line'].value_counts(normalize=True) * 100
mangalay_distribution = df[Mandalay_city]['Product line'].value_counts(normalize=True) * 100

print("üìç –í—ñ–¥—Å–æ—Ç–∫–æ–≤–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —É Yangon:")
print(yangon_distribution.round(2))

print("\nüìç –í—ñ–¥—Å–æ—Ç–∫–æ–≤–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —É Mandalay:")
print(mangalay_distribution.round(2))

üìç –í—ñ–¥—Å–æ—Ç–∫–æ–≤–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —É Yangon:
Home and lifestyle        19.12
Electronic accessories    17.65
Sports and travel         17.35
Food and beverages        17.06
Fashion accessories       15.00
Health and beauty         13.82
Name: Product line, dtype: float64

üìç –í—ñ–¥—Å–æ—Ç–∫–æ–≤–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —É Mandalay:
Fashion accessories       18.67
Sports and travel         18.67
Electronic accessories    16.57
Health and beauty         15.96
Food and beverages        15.06
Home and lifestyle        15.06
Name: Product line, dtype: float64

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ –∑ –º—ñ—Å—Ç:

![](https://drive.google.com/uc?export=view&id=1IbG58YK5KVqC-wCnllF1btgEgfWTbi_O)

![](https://drive.google.com/uc?export=view&id=1aKOkLmlMq1sOh4GbwyaQyjfhNJzdU4Yh)