# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º–∏ "–†–æ–∑—à–∏—Ä–µ–Ω—ñ –º–µ—Ç–æ–¥–∏ –æ–±—Ä–æ–±–∫–∏ –¥–∞–Ω–∏—Ö —É Pandas"

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd
DATA_DIR = '../../data/supermarket_sales.csv'
df = pd.read_csv(DATA_DIR)

1. –í—ñ–¥—Å–æ—Ä—Ç—É–π—Ç–µ –¥–∞–Ω—ñ –∑–∞ —Å–ø–∞–¥–∞–Ω–Ω—è–º —Ü—ñ–Ω–∏ —Ç–æ–≤–∞—Ä–∞ ('Unit price') —ñ –≤–∏–≤–µ–¥—ñ—Ç—å 5 –ø–µ—Ä—à–∏—Ö —Ä—è–¥–æ—á–∫—ñ–≤ –Ω–∞ –µ–∫—Ä–∞–Ω.

In [4]:
top_prices = df.sort_values(by='Unit price', ascending=False).head(5)
display(top_prices)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. –ó–Ω–∞–π–¥—ñ—Ç—å —ñ–Ω–≤–æ–π—Å (—Ä—è–¥–æ–∫ –≤ –¥–∞–Ω–∏—Ö) –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ `Electronic accessories`, –≤ —è–∫–æ–º—É –±—É–≤ –∫—É–ø–ª–µ–Ω–∏–π —Ç–æ–≤–∞—Ä –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ –Ω–∞–π–±—ñ–ª—å—à–æ—é —Ü—ñ–Ω–æ—é. –í–∏–≤–µ–¥—ñ—Ç—å —Ü–µ–π —Ä—è–¥–æ–∫ –¥–∞–Ω–∏—Ö –Ω–∞ –µ–∫—Ä–∞–Ω.

In [12]:
top_invoice = df[df['Product line'] == 'Electronic accessories'] \
                .sort_values(by=['Quantity', 'Unit price'], ascending=False) \
                .head(1)

print("üßÆ –Ü–Ω–≤–æ–π—Å –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —Ç–∞ –≤–∏—Å–æ–∫–æ—é —Ü—ñ–Ω–æ—é:")
display(top_invoice)

üßÆ –Ü–Ω–≤–æ–π—Å –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —Ç–∞ –≤–∏—Å–æ–∫–æ—é —Ü—ñ–Ω–æ—é:

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –Ω–æ–≤—É –∫–æ–ª–æ–Ω–∫—É –≤ –¥–∞–Ω–∏—Ö `Rating Category`, —è–∫–∞ –≤–∏–∑–Ω–∞—á–∞—î –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Ä–µ–π—Ç–∏–Ω–≥—É (`Rating`): –≤–∏—Å–æ–∫–∏–π, —Å–µ—Ä–µ–¥–Ω—ñ–π —á–∏ –Ω–∏–∑—å–∫–∏–π –∑–∞ –Ω–∞—Å—Ç—É–ø–Ω–∏–º –ø—Ä–∞–≤–∏–ª–æ–º:
- —è–∫—â–æ —Ä–µ–π—Ç–∏–Ω–≥ –≤–∏—â–∏–π –∞–±–æ —Ä—ñ–≤–Ω–∏–π 8 - —Ç–æ –≤—ñ–Ω –≤–∏—Å–æ–∫–∏–π (`High`)
- —è–∫—â–æ —Ä–µ–π—Ç–∏–Ω–≥ –≤—ñ–¥ 6 –¥–æ 8 –Ω–µ –≤–∫–ª—é—á–∞—é—á–∏ - —Ç–æ –≤—ñ–Ω —Å–µ—Ä–µ–¥–Ω—ñ–π (`Medium`)
- —ñ–Ω–∞–∫—à–µ - –Ω–∏–∑—å–∫–∏–π (`Low`).

In [13]:

df['Rating Category'] = df['Rating'].apply(
    lambda x: 'High' if x >= 8 else ('Medium' if x >= 6 else 'Low')
)

3.2. –í–∏–≤–µ–¥—ñ—Ç—å, —è–∫–∏–π –≤—ñ–¥—Å–æ—Ç–æ–∫ –¥–∞–Ω–∏—Ö —Å—Ç–∞–Ω–æ–≤–∏—Ç—å –∫–æ–∂–Ω–µ –∑—ñ –∑–Ω–∞—á–µ–Ω—å –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ä–µ–π—Ç–∏–Ω–≥—É.

In [14]:
print(df['Rating Category'].value_counts(normalize=True) * 100)

Medium    35.6
High      32.9
Low       31.5
Name: Rating Category, dtype: float64

4.1. –ó–∞–ø—É—Å—Ç—ñ—Ç—å –∫–æ–¥ –Ω–∏–∂—á–µ –∞–±–∏ —Å—Ç–≤–æ—Ä–∏—Ç–∏ –∑–º—ñ–Ω–Ω—É `time`. –¶—è –∑–º—ñ–Ω–Ω–∞ –º—ñ—Å—Ç–∏—Ç—å —á–∞—Å –≤ —Ñ–æ—Ä–º–∞—Ç—ñ "–≥–æ–¥–∏–Ω–∞:—Ö–≤–∏–ª–∏–Ω–∞". –ù–∞–ø–∏—à—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é `get_hour`, —è–∫–∞ –±—É–¥–µ –∑—ñ –∑–º—ñ–Ω–Ω–æ—ó —Ñ–æ—Ä–º–∞—Ç—É —è–∫ `time` –¥—ñ—Å—Ç–∞—Ç–∏ –ª–∏—à–µ –≥–æ–¥–∏–Ω–∏ —ñ –∫–æ–Ω–≤–µ—Ä—Ç—É–≤–∞—Ç–∏ —ó—Ö —É —Ç–∏–ø `int`.

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –Ω–∞–ø–∏—Å–∞–Ω—É —Ñ—É–Ω–∫—Ü—ñ—é –Ω–∞ –∑–º—ñ–Ω–Ω—ñ–π `time` —Ç–∞ –ø–µ—Ä–µ–≤—ñ—Ä—Ç–µ –ø—Ä–∞–≤–∏–ª—å–Ω—ñ—Å—Ç—å —Ä–æ–±–æ—Ç–∏ —Ñ—É–Ω–∫—Ü—ñ—ó.

In [15]:
time = '11:28'

In [16]:
def get_hour(time_str):
    return int(time_str.split(':')[0])

4.2. –ó –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ—ó `get_hour` —ñ –º–µ—Ç–æ–¥–∞ `DataFrame.apply()` —Å—Ç–≤–æ—Ä—ñ—Ç—å –Ω–æ–≤—É –∫–æ–ª–æ–Ω–∫—É `Hour` –≤ –Ω–∞—à–æ–º—É –Ω–∞–±–æ—Ä—ñ –¥–∞–Ω–∏—Ö, —è–∫–∞ –±—É–¥–µ –º—ñ—Å—Ç–∏—Ç–∏ –≥–æ–¥–∏–Ω–∏ –∑–¥—ñ–π—Å–Ω–µ–Ω–Ω—è –ø–æ–∫—É–ø–∫–∏, –æ–±—á–∏—Å–ª–µ–Ω—ñ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —á–∞—Å—É –∑–¥—ñ–π—Å–Ω–µ–Ω–Ω—è –ø–æ–∫—É–ø–∫–∏ `Time`.

In [ ]:
df['Hour'] = df['Time'].apply(get_hour)
# display(df['Hour'])

0      13
1      10
2      13
3      20
4      10
       ..
995    13
996    17
997    13
998    15
999    13
Name: Hour, Length: 1000, dtype: int64

4.3. –í–∏–≤–µ–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∑–Ω–∞—á–µ–Ω—å –∑–∞ –∫–æ–∂–Ω–æ—é –≥–æ–¥–∏–Ω–æ—é –ø–æ–∫—É–ø–∫–∏ —ñ –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å "–û —è–∫–∏—Ö –≥–æ–¥–∏–Ω–∞—Ö –Ω–∞–π–±—ñ–ª—å—à–µ –∑–¥—ñ–π—Å–Ω—é—é—Ç—å –ø–æ–∫—É–ø–æ–∫ –ø–æ–∫—É–ø—Ü—ñ —ñ —á–æ–º—É –Ω–∞ –í–∞—à –ø–æ–≥–ª—è–¥ —Å–∞–º–µ –æ —Ü–∏—Ö –≥–æ–¥–∏–Ω–∞—Ö? –ß–∏ —Ü–µ —Å–ª–æ–≥—ñ—á–Ω–æ, —â–æ –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ —Å–∞–º–µ –≤ —Ü—ñ –≥–æ–¥–∏–Ω–∏?".

In [ ]:
hourly_counts = df['Hour'].value_counts().sort_index()
print(hourly_counts)
# –º–∞–±—É—Ç—å —Ü–µ –ø—ñ–∫–æ–≤—ñ –≥–æ–¥–∏–Ω–∏ —à–æ–ø—ñ–Ω–≥—É

10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Hour, dtype: int64

5. –í–∏–≤–µ–¥—ñ—Ç—å —Å–µ—Ä–µ–¥–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è —á–µ–∫—É (`Total`) –¥–ª—è –ø–æ–∫—É–ø–æ–∫ –≤ –º—ñ—Å—Ç–∞—Ö, –Ω–∞—è–≤–Ω–∏—Ö –≤ –¥–∞–Ω–∏—Ö, –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ—ó `groupby`.

In [20]:
avg_total_by_city = df.groupby('City')['Total'].mean()

print(avg_total_by_city)

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. –í–∏–≤–µ–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫, —Å–µ—Ä–µ–¥–Ω—î, –º—ñ–Ω—ñ–º–∞–ª—å–Ω–µ —Ç–∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–µ –∑–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ —á–µ–∫—É (Total) –≤ –º—ñ—Å—Ç–∞—Ö, –Ω–∞—è–≤–Ω–∏—Ö –≤ –¥–∞–Ω–∏—Ö, –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ—ó groupby.
–ó—Ä–æ–±—ñ—Ç—å –≤–∏—Å–Ω–æ–≤–∫–∏ –∑ —Ü–∏—Ö –ø–æ–∫–∞–∑–Ω–∏–∫—ñ–≤ —Ç–∞ –¥–∞–π—Ç–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–ª—è –º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤.

In [22]:
total_stats_by_city = df.groupby('City')['Total'].agg(['mean', 'min', 'max'])

print(total_stats_by_city)

                 mean      min      max
City
Mandalay   319.872506  18.6375  1022.49
Naypyitaw  337.099715  10.6785  1042.65
Yangon     312.354031  12.6945  1039.29

7. –ú–∏ –≤–Ω–µ—Å–ª–∏ –¥–µ—è–∫—ñ –∑–º—ñ–Ω–∏ –≤ –Ω–∞—à –Ω–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö, —Ç–æ–∂, –¥–∞–≤–∞–π—Ç–µ –∑–∞–ø–∏—à–µ–º–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç —É —Ñ–∞–π–ª. –ó–∞–ø–∏—à—ñ—Ç—å –æ–Ω–æ–≤–ª–µ–Ω—É –≤–µ—Ä—Å—ñ—é –¥–∞–Ω–∏—Ö —É —Ñ–∞–π–ª `supermarket_sales_enriched.csv`. –ó–≤–µ—Ä–Ω—ñ—Ç—å —É–≤–∞–≥—É, –∞–±–∏ –Ω–µ –∑–∞–ø–∏—Å–∞—Ç–∏ –Ω—ñ—á–æ–≥–æ –∑–∞–π–≤–æ–≥–æ, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —ñ–Ω–¥–µ–∫—Å–∏ —Ä—è–¥–∫—ñ–≤ –Ω–∞–º –≤ —Ñ–∞–π–ª—ñ –Ω–µ –ø–æ—Ç—Ä—ñ–±–Ω—ñ, –æ—Å–∫—ñ–ª—å–∫–∏ –≤–æ–Ω–∏ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ñ.

In [23]:
df.to_csv('supermarket_sales_enriched.csv', index=False)